.wrapper{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.wrapper div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color:aqua;
}
#box1{
    background-color: red;
}
#box2{
    background-color: green;
}
#box3{
    background-color: greenyellow;
}
#box4{
    background-color: aqua;
}
#box5{
    background-color: yellow;
}


